<<<<<<< HEAD



.card {
    
    color: antiquewhite;
    text-transform: uppercase;
    background-color: rgb(17, 13, 13, 0.7);
    padding: 3rem 5rem;
    width: 25rem;
    margin-top: 30%;
   
    
    
}

.card p {
    color: antiquewhite;
    
    padding-top: 1rem;
    line-height: 150%;
   
   
    
}

=======



.card {
    
    color: antiquewhite;
    text-transform: uppercase;
    background-color: rgb(17, 13, 13, 0.7);
    padding: 3rem 5rem;
    width: 25rem;
    margin-top: 30%;
   
    
    
}

.card p {
    color: antiquewhite;
    
    padding-top: 1rem;
    line-height: 150%;
   
   
    
}

>>>>>>> aab4d49 (Add files via upload)
