html {
  height: 100%;
}


.App {
<<<<<<< HEAD
  background-image: url(/public/images/solar_1280p_0.jpg);
=======
  background-image: url(/public/Images/solar_1280p_0.jpg);
>>>>>>> aab4d49 (Add files via upload)
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}




.App-link {
  color: #61dafb;
}



