html {
  height: 100%;
}


.App {
  background-image: url(./images/solar_1280p_0.jpg);
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}




.App-link {
  color: #61dafb;
}



